@font-face {
  font-family: 'Nympha Trial';
  src: url('/assets/fonts/WOFF2/NymphaTrial-Light.woff2') format('woff2'),
    url('/assets/fonts/WOFF2/NymphaTrial-Regular.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nympha Trial';
  background-color: #151313;
  overflow: hidden;
  /* height: 100vh; */
}

p {
  font-family: 'Poppins', sans-serif;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 100px;
  width: 100vw;
  top: 0;
  z-index: 9;
}

nav > * {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  height: 100vh;
  margin-left: 200px;
  margin-top: 161px;
}

.content-container {
  position: relative;
  width: 637px;
  height: 571px;
  margin: 0 auto;
}

.c-title {
  opacity: 0.5;
  transition: 0.6s;
  position: relative;
}

.c-title:hover {
  opacity: 1;
  transition: 0.6s;
  transform: scale(1.2);
}

.c-title img {
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  width: 411px;
  height: 518px;
}

.c-title a {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  font-size: 154px;
  z-index: 3;
  position: absolute;
  bottom: -100px;
  left: -20px;
}

.content-container:hover .c-title a {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px solid black;
  text-decoration: underline;
}

.navigation {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem;
}

.contact {
  font-size: 154px;
  color: white;
  font-weight: 500;
}

.email {
  font-size: 50px;
  color: white;
  text-decoration: underline;
  font-weight: 500;
  color: #f2f2f2b2;
  text-transform: uppercase;
}

.contact-container {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.8;
}
